.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 12px 20px;

  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  border: none;
  border-radius: 5px;
  background-color: $color-selective-yellow;
  color: $color-resolution-blue;

  cursor: pointer;
  user-select: none;

  transition: background-color $trans-default, color $trans-default;

  outline: none;

  @include vp-767 {
    font-weight: 700;
  }

  @include vp-374 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  @include hover-focus {
    background-color: $color-resolution-blue;
    color: $color-selective-yellow;
  }
}
