mixin counter()
  .counter
    button(type="button").btn-reset.counter__button.counter__button--remove -
    label
      input(type="number" value="100")
    button(type="button").btn-reset.counter__button.counter__button--add +
